#remp-footer {
  background: lightgrey;
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;
}

#remp-footer .content {
  width: 960px;
  padding: 1px 0;
  margin: 0 auto;
  text-align: center;
  color: black;
}

#remp-footer .content a {
  color: black;
}
