<div id="remp-footer">
  <div class="content">
    <h3>{{ 'Your current subscription grants access to a limited number of exclusive content.'|t }}</h3>
    {% if remaining_articles > 0 %}
      <h3>{%trans%}You have <strong>{{remaining_articles|placeholder}}</strong> exclusive articles remaining.{%endtrans%}</h3>
    {% else %}
      <h3>{%trans%}You have <strong>no</strong> exclusive articles remaining.{%endtrans%}</h3>
    {% endif %}
      <p><a href="{{ subscribe }}">{{ 'I want to subscribe for more content.'|t }}</a>
  </div>
</div>