{% if links %}
  {%
    set classes = [
      'remp-links',
      logged_in ? 'logged-in' : ''
    ]
  %}

  <ul {{ attributes.addClass(classes) }}>
    {% for key, link in links %}
      <li>{{ link }}</li>
    {% endfor %}
  </ul
{% endif %}